body {
  font-family: 'Avenir Next', sans-serif;
  font-weight: 100;
  padding: 0;
  margin: 0;
  background-image: url("https://img.goodfon.com/original/1920x1080/8/21/trava-rosa-trosnik-kapli-listia-spokoinyi-fon.jpg");
  background-size: cover;
  background-position: center;
  color: whitesmoke;
}

header, nav ul li a, footer {
  font-weight: 100;
  font-family: 'Avenir Next', sans-serif;
}

header {
  background-color: white;
  font-family: 'Avenir Next', sans-serif;
  font-weight: 100;
  color: black;
  padding: 20px;
  padding-right: 20px;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

header {
  font-weight: 100 !important;
}

header *,
header *:not(nav ul li a) {
  font-weight: 100 !important;
}


.logo-section {
  display: flex;
  align-items: center;
}

.logo-section img {
  width: 50px;
  margin-right: 10px;
}

nav {
  padding-right: 30px;
  font-weight: 100;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  font-weight: 100;
}

nav ul li {
  margin-right: 20px;
  font-weight: 100;
}

nav ul li a {
  color: black;
  text-decoration: none;
  font-weight: 100;
}

footer {
  background-color: rgb(255, 255, 255);
  font-family: 'Avenir Next', sans-serif;
  padding: 10px;
  text-align: center;
  width: 100%;
}

footer p {
  margin: 0;
  color: #000000;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

main {
  padding-top: 100px; /* Adjust according to your header height */
}

.form-column {
  background-color: rgba(255, 255, 255, 0.30); /* White with 90% transparency */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 50px 90px;
  width: 450px;
  height: 740px;
  margin: 0 auto;
  margin: 150px auto; 
  margin-bottom: 120px;
}

.form-column h1 {
  padding-top: 70px;
  font-family: 'Georgia', serif; 
  letter-spacing: 1.5px; 
  font-weight: 300;
  margin-bottom: -2px; 
}

.form-column h4 {
  font-weight: 200;
  bottom: 10px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group textarea {
  height: 100px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; /* Ensure the form takes the full width of the .form-column */
}

button {
  padding: 10px 20px;
  background-color: #826644;
  size: 60px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #f4f4f4;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #a69077;
}


.image-column {
  position: relative;
  width: 100%;
  height: 500px;
}

.image-column img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(100%);
}

.quote-container {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1; 
}

.quote {
  font-family: 'Avenir Next', sans-serif;
  font-weight: 150;
  font-size: 30px;
  color: #ffffff;
}
