body {
    font-family: 'Avenir Next', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('https://images.unsplash.com/photo-1533563906091-fdfdffc3e3c4?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-repeat: no-repeat;
    color: whitesmoke;
}

/* Header Styling */

header, nav ul li a, footer {
    font-weight: 100;
    font-family: 'Avenir Next', sans-serif;
  }
  
  header {
    background-color: white;
    font-family: 'Avenir Next', sans-serif;
    font-weight: 100;
    color: black;
    padding: 50px;
    padding-right: 20px;
    font-size: 21px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
  }
  
  header {
    font-weight: 100 !important;
  }
  
  header *,
  header *:not(nav ul li a) {
    font-weight: 100 !important;
  }
  
.logo-section {
    display: flex;
    align-items: center;
}

.logo-section img {
    width: 60px;
    margin-right: 10px;
}

.logo-section h5 {
    color: black; 
    font-weight: 300;
}


nav {
    padding-right: 30px; /* Add padding to the right side of the navigation */
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: black;
    text-decoration: none;
}

/* Main Content Styling */

body {
    font-family: 'Avenir Next', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #4f4f4f; 
    color: whitesmoke; 
  }
  
main {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sanskrit-words-container p {
    text-indent: 2em;
}

section {
    margin-bottom: 20px;
}

.content-wrapper {
    max-width: 2000px;
    margin: 0 auto;
}

.content-section {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.content-column1 {
    flex: 1;
    padding: 85px 80px 40px;
    display: flex;
    flex-direction: column;
    font-weight: 100;
    margin-top: 100px;
}


.content-column1 p {
    text-align: left;
    font-size: 30px; 
}

.content-column2 {
    flex: 1;
    padding: 85px 40px 40px;
    display: flex;
    flex-direction: column;
    font-weight: 100;
}

.content-column h2,
.content-column p {
    text-align: left;
}

.content-column img {
    margin-top: 190px;
    width: 400px;
    height: 450px;
    object-fit: cover;
    object-position: 65%;
    margin-left: auto;
    filter: grayscale(100%);
}

/* Footer Styling */
footer {
    background-color: rgba(0, 0, 0, 0.7);
    color: whitesmoke;
    padding: 10px;
    text-align: center;
    width: 100%;
}

/* Additional Styling */
.large-text-container {
    position: absolute;
    top: 120px;
    left: 50px;
    margin-bottom: 90px;
}

.large-text {
    text-align: left;
    margin-left: 20px;
    padding-left: 20px;
    margin-top: 100px;
    justify-content: flex-start;
}

.large-text h1 {
    font-size: 80px;
    font-weight: 180;
    margin: 0;
    font-family: 'Avenir Next', sans-serif;
}

h2 {
    text-align: center;
    font-family: 'Avenir Next', sans-serif;
    font-weight: lighter;
    margin-bottom: 10px;
}

.container {
    padding-right: 60px ;
    margin-top: 350px;
}

.container h5 {
    font-size: 20px;
    color: #ffffff;
}

#userInputSection {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    width: 100%;
    text-align: center; 
    margin-bottom: 60px;
}

#userInputSection h2 {
    text-align: center; 
}

#userInputSection form,
#outputSection div {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"] {
    width: 30%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #826644;
    color: #f4f4f4;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #a69077;
}

#outputSection {
    display: none;
}

footer {
    background-color: rgb(0, 0, 0);
    font-family: 'Avenir Next', sans-serif;
    padding: 10px;
    text-align: center;
    width: 100%;
  }
  
footer p {
    margin: 0;
    color: #fcfcfc;
}

.photo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photo img {
    margin-bottom: 150px;
    margin-top: -160px; 
}

.content-section {
    margin-top: -50px;
}
